@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");



html {
  /* 
    font-size: 10px; 
    10px / 16px = 0.625 = 62.5%
    Percentage of user's browser font-size setting
  */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************/
/* NAVIGATION MENU */
/***********************/

/* OVERLAY */
.overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 60svh;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100%);
}

/* NAV MENU ITEMS */
nav ul {
  height: 60vh;
  height: 60svh;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  height: 20%;
}

nav li:nth-of-type(1) {
  background-color: #626059;
}

nav li:nth-of-type(2) {
  background-color: #9d5543;
}

nav li:nth-of-type(3) {
  background-color: #3d405b;
}

nav li:nth-of-type(4) {
  background-color: #5a7d6c;
}

nav li:nth-of-type(5) {
  background-color: #917a56;
}

nav li a {
  letter-spacing: 0.4rem;
  font-size: 2rem;
}

nav li a:hover,
nav li a:active {
  transform: scale(1.2);
}

/***********************/
/* NAV SLIDE IN ANIMATION */
/***********************/

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/***********************/
/* NAV SLIDE OUT ANIMATION */
/***********************/

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/***********************/
/* MENU ANIMATION */
/***********************/

.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 3.5rem;
  height: 0.2rem;
  background-color: #aaa6a6;
  margin: 0.8rem 0;
  transition: 0.4s;
}

.menu-bar2 {
  width: 2rem;
  margin-left: auto;
}


.active .menu-bar1 {
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}


.active .menu-bar2 {
  opacity: 0;
}


.active .menu-bar3 {
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}

/***********************/
/* SECTION */
/***********************/

section#home {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
}

.logo {
  position: fixed;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

.btn-scroll {
  transition: 0.4s;
  color: white;
  display: block;
  margin-top: 400px;
  animation: btn-up-down 1s ease-in-out infinite alternate-reverse both;
}

.btn-scroll i {
  font-size: 48px;
}

.btn-scroll:hover {
  color: yellow;
}


@keyframes btn-up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}


h1 {
  font-size: 3rem;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 0.5rem 1rem;
}

section#home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://assets.justinmind.com/wp-content/uploads/2021/11/web-design-portfolio-768x492.png")
      no-repeat center center / cover;
}

/**************************/
/* MEDIA QUERY */
/**************************/

@media (max-width: 52em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

@media (max-width: 37em) {
  .hamburger-menu {
    top: 0.5rem;
    right: 1rem;
  }
  .logo {
    top: 1rem;
    left: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}

/*
MAIN CSS ALL PAGES
*/

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #181818;
  --contrast-color: #ffffff;
}


.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 120px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .container {
  position: relative;
  margin-bottom: 100px;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  padding: 10px;
  font-size: 62px;
  font-weight: 700;
  line-height: 56px;
  text-shadow: 7px 7px 4px black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 1px;
  color: white;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
}



/* 
SECTION STYLE
*/


.section-title {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 4px;
  color: rgba(142, 140, 140,0.2);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 1;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  color: rgb(13, 2, 2);
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

  .section-title span {
    font-size: 38px;
}}



/* 
ACERCA DE STYLE
*/

.about .content {
  border: 2px solid rgb(181, 181, 181);
  border-radius: 10px;
}
.about .content h2 {
  font-weight: 700;
  color: black;
  font-size: 20px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 30px;
  display: flex;
  color: black;
  align-items: center;
} 
.about .content ul strong {
  margin-right: 10px;
  padding: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.about p {
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(91, 89, 89);
} 
.about .content span {
  font-size: 15px ;
}
.about .content ul i {
  margin-right: 5px;
  font-size: 16px;
  color: yellow;
  line-height: 0;
}


/* 
INICIO DE RESUMEN
*/

.resume .row {
  position: relative;
}

.resume .resume-title {
  color: black;
  font-size: 26px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ffbb27;
  position: relative;
  margin: 20px;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  color:black;
  font-weight: 600;
  margin-bottom: 10px;
}


.resume .resume-item p {
  color: black;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #ffbb27;
  border: 2px solid var(--accent-color);
}


/* 
INICIO DE LENGUAJES
*/
.services p {
  font-size: 16px;
}

.services .container {
  margin-bottom: 50px;
}

.services .service-item {
  background-color: var(--surface-color);
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: relative;
  z-index: 1;
}

.services .service-item:before {
  content: "";
  position: absolute;
  background: white;
  inset: 100% 0 0 0;
  transition: all 0.3s;
  z-index: -1;
}

.services .service-item img {
  margin-bottom: 10px;
  width: 60px;
}

.services .service-item .icon i {
  font-size: 36px;
  transition: ease-in-out 0.3s;
}

.services .service-item h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.services .service-item h4 a {
  color: var(--heading-color);
  transition: ease-in-out 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  transition: ease-in-out 0.3s;
}

.services .service-item:hover h4 a,
.services .service-item:hover .icon i,
.services .service-item:hover p {
  color: black;
}

.services .service-item:hover:before {
  background: #ffbb27;
  inset: 0;
  border-radius: 0px;
}



/* 
PROYECTOS 
*/


.portfolio .container p {
  font-size: 16px;
}


.portfolio .portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio .container-fluid {
  margin-bottom: 100px;
}

.portfolio .portfolio-content img {
  transition: 0.3s;
}

.portfolio .portfolio-content .portfolio-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.portfolio .portfolio-content .portfolio-info p {
  bottom: 10px;
  margin-top: 130px;
  text-align: center;
  font-size: 30px;
  font-family: monospaces;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-content:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-content img {
  width: 1100px;
}

.portfolio .portfolio-content:hover img {
  transform: scale(1.2);
}


/* 
CONTACTO
*/


.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contact .info-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}

.contact .container p {
  font-size: 18px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 20px;
}

@media (min-width: 992px) {
  .contact .info-item.info-item-borders {
    border-left: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  }
}

.contact .php-email-form {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

@media (max-width: 575px) {
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 50%);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
  color: black;
  background: #ffbb27;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #d5950c;
}
